.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resize-button {
  background-color: transparent;
}

.resize-icon {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.resize-icon.rotated {
  transform: rotate(180deg);
}
