<mat-nav-list>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add note
    </button>

  <mat-list-item>
    <mat-icon mat-list-icon>notes</mat-icon>
    All notes
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>collections_bookmark</mat-icon>
    Notebooks
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>settings</mat-icon>
    Settings
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>account_circle</mat-icon>
    Account
  </mat-list-item>
</mat-nav-list>
